/* Variável que armazena as cores do projeto */


:root {

    --bg-color: #F3F7FD;
    --header-color: #E5E5E5;
    --azul-escuro: #1C4459;
    --cinza-claro: rgba(28, 68, 89, 0.5);
    --cor-do-body: #F3F7FD;

    /* cor dos jogos */

    --amarelo-sequencia: #FDC23E;
    --verde-grupos: #91BD32;
    --azul-fluxo: #53B3E7;

    --amarelo-sequencia-bg: rgba(253, 194, 62, 0.3);
    --verde-grupos-bg: rgba(145, 189, 50, 0.3);
    --azul-fluxo-bg: rgba(83, 179, 231, 0.3);

}


/* Classes de uso geral */


* {
    margin: 0px;
    padding: 0px;
}

html button {
    cursor: pointer;
}

html{

    overflow-x: hidden;

}

body {

    min-height: 100vh;
    font-family: 'Roboto', Verdana, "Geneva", Tahoma, sans-serif;
    background-color: var(--cor-do-body);

}

body.index-body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {

    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
}

/* Seletor da opacidade durante o drag da imagem */

.draggable-source--is-dragging {

    opacity: .4;
}

/* Classes para o CSS grid */


.grid {

    width: 100vw;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 7fr) 1fr;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 75px; */

}


.footer-grid {

    /* margin-top: 105px; */
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 10px 0;
}

.grid-center {

    grid-column: 2/3;

}

.grid-left {

    grid-column: 1/2;

}

.grid-right {

    grid-column: 3/4;

}

.grid-full {
    grid-column: 1/4;
}

.margin-primeiro-main {
    margin-top: 85px;
    margin-bottom: 65px;
}

.margin-segundo-main {
    margin-bottom: 95px;
}

#alterando-margem-1 {
    margin-top: 65px;
    margin-bottom: 85px;
}

#alterando-margem-2 {
    margin-bottom: 85px;
}

#alterando-margem-3 {
    margin-bottom: -850px;
}


/* Seletores de estilo do Header */

a.link-logo {
    width: 100%;
    text-align: center;
}

img.logo {

    align-self: center;
    justify-self: center;
    padding: 15px 0px;
    height: 70px;
    
}

img.mascote {

    /* position: fixed; */
    position: absolute;
    right: 50px;
    z-index: 10;
    animation: animacao-mascote;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

header.grid{
    zoom:90%;
    align-items: center;
    width: 100%;


}

@keyframes animacao-mascote {

    from {
        top: -40px
    }

    to {
        top: 0px
    }
}

nav.menu.grid {


    background-color: var(--cor-do-body);
    padding: 15px 0px;
    width: 100%;

}

ul.menu-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: -25px;

}

li.menu-list-item {

    margin: 0px 15px;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
    flex-basis: content;
    transition: background-color 0.5s;
}

li.menu-list-item:hover {

    background: rgba(28, 68, 89, 0.1);
    border-radius: 5px;
}

a.menu-link {

    min-width: max-content;
    min-height: max-content;
    color: var(--cinza-claro);
    text-decoration: none;
    text-align: center;

}

i.menu-icon {

    font-size: 2.5em;
}


p.menu-text {

    font-weight: 800;
    text-transform: capitalize;
    margin-top: 5px;
}


li.menu-list-item.selected {

    background-color: var(--azul-escuro);
    padding: 10px 15px;

}

li.menu-list-item.selected>a.menu-link {

    color: white;

}


li.menu-list-item.selected>a.menu-link i.menu-icon {

    padding: 2px 4px;
    margin-bottom: 5px;
    color: var(--cinza-claro);
    background-color: white;
    border-radius: 50%;

}


/* Seletores de estilo do main */

main.grid {

    background-color: var(--cor-do-body);
    min-height: 1vw;
}

main#alterando-margem-1{
    display: grid;
    grid-template-columns: 0.5fr 10fr 0.5fr;
    justify-items: center;
}

section#section-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: flex-start;
    grid-column: 2/3;
    max-width: 1200px;
}

section.box-center {

    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    zoom:83%;
 

}

/* Seletores do main do index */


section.sub-section {
    margin: 30px 0;
    text-align: center;
    transition: background-color 0.5s;
    width: 33%;
}


section#section-sequencia>h2.section-title {


    color: var(--amarelo-sequencia);
}

section#section-sequenciac>h2.section-title {


    color: var(--amarelo-sequencia);
}

section#section-sequenciad>h2.section-title {


    color: var(--amarelo-sequencia);
}

section#section-sequencia:hover {

    border-radius: 10px;
    background-color: var(--amarelo-sequencia-bg);

}

section#section-sequenciac:hover {

    border-radius: 10px;
    background-color: var(--amarelo-sequencia-bg);

}

section#section-sequenciad:hover {

    border-radius: 10px;
    background-color: var(--amarelo-sequencia-bg);

}

section#section-logix:hover {

    border-radius: 10px;
    background-color: var(--azul-fluxo-bg);

}

/* FLUXOGRAMA JOGO */
section h2.section-title-fluxograma {
    color: #00c3ff;
}

/* aplicando borda-radius e hover no jogo do fluxograma */
section#section-fluxograma:hover {
    border-radius: 10px;
    background-color: #b6e1f0;
}

section#section-grupos>h2.section-title {


    color: var(--azul-fluxo);

}


section#section-fluxo>h2.section-title {

    color: var(--verde-grupos);

}

section#section-completarn>h2.section-title {

    color: var(--verde-grupos);

}

/* modificação para o título da sequência de números */
section#section-sequencia>h2.section-title-sequencia {
    padding: 10px 0px;
    color: #FDC23E;
}

section#section-sequenciac>h2.section-title-sequencia {
    padding: 10px 0px;
    color: #FDC23E;
}

section#section-sequenciad>h2.section-title-sequencia {
    padding: 10px 0px;
    color: #FDC23E;
}

/* modificação para o título "em breve" */
section#section-fluxo>h2.section-title-domino {
    color: #FDC23E;
}

section#section-completarn>h2.section-title-domino {
    color: #FDC23E;
}

section#section-grupos>h2.section-title-grupos {
    color: #3fd7d7;
}

section#section-logix>h2.section-title-logix {
    color: #3fd7d7;
}

section#section-domino>h2.section-title-domino {
    color: #FDC23E;
}

section#section-sequencia:hover {
    background-color: var(--amarelo-sequencia-bg);
}

section#section-sequenciac:hover {
    background-color: var(--amarelo-sequencia-bg);
}

section#section-sequenciad:hover {
    background-color: var(--amarelo-sequencia-bg);
}

section#section-fluxo:hover {

    border-radius: 10px;
    background-color: var(--verde-grupos-bg);

}

section#section-completarn:hover {

    border-radius: 10px;
    background-color: var(--verde-grupos-bg);

}

section#section-grupos:hover {

    border-radius: 10px;
    background-color: var(--azul-fluxo-bg);

}

section#sequencia-de-numeros:hover {
    background-color: var(--amarelo-sequencia-bg);
}

section#section-logix {
    margin-bottom: -9px;
}

/*********** Seletores para primeiro ano, segundo ano, terceiro ano, quarto ano e quinto ano ************/
section#section-sequencia-home>h2#color1 {
    color: var(--verde-grupos);
}

section#section-sequenciac-home>h2#color1 {
    color: var(--verde-grupos);
}

section#section-sequenciad-home>h2#color1 {
    color: var(--verde-grupos);
}


section#section-fluxo-home>h2#color2 {
    /* color: #1d2929; */
    color: #7ee0e0;
    /* color: #4baaaae3; */
}

section#section-completarn-home>h2#color2 {
    /* color: #1d2929; */
    color: #7ee0e0;
    /* color: #4baaaae3; */
}

section#section-grupos-home>h2#color3 {
    color: var(--amarelo-sequencia);
}

section#section-quarto-home>h2#color4 {
    color: #00c3ff;
}

section#section-quinto-home>h2#color5 {
    color: #ff0000;
}

section#section-sexto-home>h2#color6 {
    color: #ffcc00;
}

/* HOVER */
section#section-sequencia-home:hover {
    background-color: var(--verde-grupos-bg);
}

section#section-sequenciac-home:hover {
    background-color: var(--verde-grupos-bg);
}

section#section-sequenciad-home:hover {
    background-color: var(--verde-grupos-bg);
}
co-home:hover {
    /* background-color: var(--azul-fluxo-bg); */
    /* background-color: #cfeff7; */
    background-color: rgba(83, 179, 231, 0.19);

}

section#section-domino:hover {
    background-color: var(--amarelo-sequencia-bg);
}

section#section-grupos-home:hover {
    background-color: var(--amarelo-sequencia-bg);
}

section#section-fluxo-home:hover {
    background-color: #7ee0e030;
}

section#section-completarn-home:hover {
    background-color: #7ee0e030;
}

section#section-quarto-home:hover {
    background-color: #c7e5f0;
}

section#section-quinto-home:hover {
    background-color: #eed1d1;
}

section#section-sexto-home:hover {
    background-color: #ece7cc;
}

/*******************************************/
h2.section-title {
    font-size: 1.5em;
    padding: 10px 10px;
    color: #1C4459;

}

img.section-link-img {
    height: 100%;
    width: 100%;
}

p.section-description {
    font-size: 1em;
    padding: 0px 30px;
    color: #6b6b6b;
    font-weight: 800;
}

/* Seletores do conteúdo da página de objetivos */


section.objective-main-section.box-center {
	
    min-height: 50vh;
    font-size: 0.9em;
    line-height: 25px;
    padding: 50px 40px 20px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgba(153, 153, 153, 0.35);
    ;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

h2.objective-section-title {

    width: 200px;
    color: #F3F7FD;
    border-radius: 5px;
    background-color: var(--azul-escuro);
    padding: 10px 20px;
    position: absolute;
    margin-top: -70px;
}



section.sub-section.objective-text>p {

    padding: 10px 20px;
    text-align: left;
}



/* Seletores do conteúdo da página Sobre */


section.about-main-section.box-center {

    font-size: 1em;
    line-height: 25px;
    padding: 50px 40px 20px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgba(153, 153, 153, 0.35);
 
    display: flex;
    flex-wrap: wrap;
}

h2.about-section-title {

    width: 200px;
    color: #F3F7FD;
    border-radius: 5px;
    background-color: var(--azul-escuro);
    padding: 10px 20px;
    position: absolute;
    margin-top: -70px;
}

section.sub-section.about-text>p {


    padding: 10px 20px;
    text-align: left;
}

section.sub-section.about-text>ul {

    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}

/* Seletores do conteúdo da página Contatos */


section.contact-main-section.box-center {

    font-size: 1em;
    line-height: 25px;
    padding: 50px 40px 20px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgba(153, 153, 153, 0.35);
    ;
    display: flex;
    flex-wrap: wrap;
}

h2.contact-section-title {

    width: 200px;
    color: #F3F7FD;
    border-radius: 5px;
    background-color: var(--azul-escuro);
    padding: 10px 20px;
    position: absolute;
    margin-top: -70px;
}

form#contact-form {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

section.form-section {

    width: 40%;
    text-align: center;

}

section.form-section input.form-input {

    width: 100%;
    height: 49px;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-weight: 700;
    background: var(--cor-do-body);
    border: 1px solid var(--azul-escuro);
    box-sizing: border-box;
    border-radius: 5px;

}

section.form-section textarea#texto-contato {

    width: 100%;
    height: 248px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    background: var(--cor-do-body);
    border: 1px solid var(--azul-escuro);
    box-sizing: border-box;
    border-radius: 5px;

}

section.form-section input#form-button {

    display: block;
    width: 280px;
    height: 49px;
    margin-bottom: 20px;
    color: var(--cor-do-body);
    text-transform: uppercase;
    font-weight: bold;
    background: var(--azul-escuro);
    border-radius: 36px;

}


/* Seletores de estilo do footer */

footer.footer-grid {

    
    color: var(--azul-escuro);
    background-color: var(--cor-do-body);
    justify-content: center;

}

footer#footer-top {
    margin-bottom: 20px;
}

section.grid-right {

    width: 100%;
    display: flex;
    flex-direction: row;

}


p.footer-text {

    text-align: center;
    font-weight: 400;
}

p.realizadores-text {

    font-weight: 700;
    font-size: 13px;

}

div.footer-imgs {

    display: flex;

}

img.footer-img {

    width: 60px;
    margin: 0px 10px;

}

img#logo-pb {

    align-self: center;
    flex: 60px 1 2;

}

img#logo-seect {

    align-self: center;
    flex: 76px 1 2;

}

img#logo-fapesq {

    align-self: center;
    flex: 38px 1 3;

}


/* Seletores do Modal */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    animation: animatetop 0.4s;
}

/* Modal Content/Box */
.modal-content {

    width: 30%;
    min-width: 250px;
    min-height: 200px;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    margin-top: 10%;
    color: var(--azul-escuro);
    border:7px solid #9DCC38;
    border-radius: 10px;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

img.modal-img-logico {

    /* width: 40%; */
    width: 25%;
    margin-left: -10px;
}

div.modal-text-content {
    width: 60%;
}

.modal-content h2.titulo-modal {

    font-size: 1em;
    color: #606060;
    font-weight: unset;
}

.modal-content h2#resultado-jogo {

    color: #65B235;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

button#botao-resultado, button#botao-proximo {

    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1em;
    color: var(--cor-do-body);
    text-transform: uppercase;
    font-weight: bold;
    background: #65B335;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}

@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

/* The Close Button */
.close {

    color: var(--azul-escuro);
    font-size: 40px;
    font-weight: 800;
    padding: 2px 15px;
    float: right;
    margin-top: -50px;
    margin-right: -51px;
    border: 5px solid var(--azul-escuro);
    border-radius: 50%;
    background-color: #fff;
    display: none;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ----- Ajustes do modal do resultado negativo ---- */

.modalNegativo-content {
    width: 40%;
    height: 17rem;
    min-width: 250px;
    min-height: 200px;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    margin-top: 10%;
    color: var(--azul-escuro);
    border: 7px solid #E25A40;
    border-radius: 10px;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button#botao-retorno {

    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1em;
    color: var(--cor-do-body);
    text-transform: uppercase;
    font-weight: bold;
    background: #E25A40;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}

.modalNegativo-content h2#resultadoNegativo-jogo {

    color: #E25A40;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 20rem;
}

.modalNegativo-content h2.titulo-modal {

    font-size: 1em;
    color: #606060;
    font-weight: unset;
}

/* ----------------------------- */
/*   Ajuste css Erros e Acertos  */
/* ----------------------------- */
div.responseMsg{
    display: none;

    border: 1px solid ;
    padding: 7px 30px;
    border-radius: 5px;
    box-sizing: border-box;

    text-align: center;
    color: white;
    transition: all 0.5s;
}

div.errorMsg{
    background-color: #610000d0;
    border-color: #ff0000;
}
div.sucessMsg{
    background-color: #3b9900b2;
    border-color: #6ab33d;
}
div.infoMsg{
    background-color: #0077ffb0;
    border-color: #1e84f8;
}


/* -------------------------- */
/*  Ajuste do css no Tablet   */
/* -------------------------- */
@media(max-width: 1150px) {
    .modalNegativo-content {
        width: 35%;
        height: 17rem;
        min-width: 250px;
        min-height: 200px;
        text-align: center;
        padding: 20px;
        margin: 0px auto;
        margin-top: 10%;
        color: var(--azul-escuro);
        border: 7px solid #E25A40;
        border-radius: 10px;
        background-color: #fefefe;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
    }

    .modalNegativo-content h2#resultadoNegativo-jogo {

        color: #E25A40;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.1em;
        width: 15rem;
    }
}

@media(max-width: 1023px) {

    /* Seletores de estilo do Header */

    img.mascote {

        display: none;
    }

    /* Ajustes no main */
    section#section-container{
        justify-content: center;
    }

    section.main-section {

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    section.sub-section {
        margin-bottom: 15px;
        padding: 0px 10px;
        text-align: center;
        width: 50%;
        min-width: 300px;
    }

    section.form-section {

        width: fit-content;
        text-align: center;
    
    }
    /* Seletores do footer */

    .footer-grid {


        justify-content: center;
        align-items: center;

    }

    footer.footer-grid {
        
        color: var(--azul-escuro);
        background-color: var(--cor-do-body);
        justify-content: center;
        align-items: center;
        /* align-self: flex-end; */
    }

    section.grid-right {
        grid-column: 3/4;
        width: fit-content;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }

    div.footer-imgs {

        text-align: center;

    }


}


/* -------------------------- */
/*  Ajuste do css no Mobile   */
/* -------------------------- */


@media(max-width: 425px) {

    /* Seletores de estilo do Header */


    img.mascote {

        display: none;
    }

    /* Seletores de estilo do main */

    section.main-section {

        padding-top: 0px;
        margin-bottom: 70px;

    }

    section.sub-section.objective-text>p {

        padding: 10px 0px;

    }

    section.sub-section.about-text>p {

        padding: 10px 0px;

    }

    section.sub-section.about-text>ul {

        list-style-type: disc;
        padding-left: 20px;
    }

    section.form-section input.form-input {

        width: 280px;
    }

    section.form-section textarea#texto-contato {

        width: 280px;
    
    }

 

}

section.sequence-container {

    width: 50%;
    height: 100px;
    border: 0.5px black;
    background-color: #e2e2e2;
    display: flex;
}


textarea, input, button, select { font-family: inherit; font-size: inherit; }


a.button-download{

    background-color: var(--azul-escuro)!important;
    border-radius: 10px;
    margin: 15px;
    width: 30%;
    min-height: 200px;

   
}
a{
    
    text-decoration: none;
    color: white;
    text-align: center;

}

h2.title-pdf{
    padding-top: 10px;
   
}

img.img-download-pdf{
    padding-top: 30px;
}

p.subtitle-download-pdf{
    padding-top: 10px;
}

#section-bt-professores{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Chuva de confete*/
span.gota {
    width: 10px;
    height: 16px;
    box-shadow: 2px 1px 2px 0 #666666;
    position: absolute;
    animation: chuva 5s ease-in-out infinite;
    top: -30px;
    z-index: 11;
}
 
@keyframes chuva {
    100% {
        top:70%;
        opacity: 0;
    }
}

/*Modal de conclusão*/
div#modalFim{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 75%;
    min-width: 670px;
    display: none;
    flex-direction: column;
    z-index: 12;
    animation: loadleft 0.5s;
}
div#modalContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
div#modalBox{
    background: linear-gradient(90deg, #008AEE 6.72%, #62ECF4 93.1%);
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
    min-width: 625px;
    width: 75%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}
div#modalGlass{
    position: absolute;
    background-color: rgba(63, 200, 243, 0.3);
    min-height: 70px;
    width: 100%;
    border-radius: 10px;
}
div#roboIcon{
    transform: translateX(-150%);
    height: 125%;
    position: absolute;
    z-index: 10;
    animation: ocilar infinite 2s;
}
div#roboIcon img{
    height: 100%;
}
div#textZone{
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#textZone h2{
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2.25em;
    font-weight: ExtraBold ;
}
div#textZone h3{
    color: white;   
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5em;
    font-weight: ExtraBold;
    margin-top: -10px;
}
section#botao-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.botao-fim {
    font-size: 1em;
    font-weight: 700;
    color: white;
    border-radius: 25px;
    background-color: #32BCF2;
    padding: 10px 15px;
    margin-left: 30px;
    border: none;
}
div#modalBoxQuente{
    background: linear-gradient(90deg, #F4683C 6.72%, #FF3E3E 93.1%);
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
    min-width: 625px;
    width: 75%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

div#modalGlassQuente{
    background-color: rgba(245, 105, 60, 0.3);
    position: absolute;
    min-height: 70px;
    width: 100%;
    border-radius: 10px;
}

button.botao-fim-quente{
    background-color: #FF3E3E;
    font-size: 1em;
    font-weight: 700;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    margin-left: 30px;
    border: none;
}

a.section-link:hover{
    cursor: pointer;
}

@keyframes loadleft{
    from{opacity: 0;transform: translate(30%,-50%)}
    to{opacity: 1;transform: translate(50%,-50%)}
}

@keyframes ocilar{
    50%{
        transform: translate(-150%, -2.5%);
    }
    100%{
        transform: translate(-150%, 0%);
    }
}

/* Modal Login*/
form#modal-login{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000030;
    z-index: 100;
}

div#background-modal-login{
    background-color: #fff;
    width: 35%;
    aspect-ratio: 4/1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

    display: grid;
    padding: 1%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

input.modal-login-text{
    outline: none;
    border: none;
    border-bottom: 1px solid #00000050;
    height: 75%;
    width: 100%;
    margin: 0 5%;
    text-align: center;
}

input.modal-login-text:focus{
border-bottom: 1px solid #FF3E3E;
transition: 0.2s ease-in;
}

input.modal-login-text:focus::placeholder{
    color: transparent;
    transition: 0.2s;
}

div.label-modal-login{
position: absolute;
grid-row: 1/2;
}

div#labelNome-modal-login{
grid-column: 2/3;
}

div#labelSobrenome-modal-login{
grid-column: 1/2;
}

input#botao-modal-login{
    outline: none;
    background-color: #FF3E3E;
    font-size: 1em;
    font-weight: 700;
    color: white;
    border-radius: 25px;
    border: none; 
    width: 30%;
    aspect-ratio: 1/0.3;
    align-self: flex-end;
}

input#botao-modal-login:hover{
cursor: pointer;
}

@media only screen and (max-width: 800px) {
 a.button-download{ 
    width: 100% 
}
}
